#news-mo-ta-ngan{
	display: -webkit-box;
	max-height: 3.2rem;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 3;
	line-height: 1.6rem;
}
.input-color-cus{
	height: calc(2.25rem + 2px) !important;
}
